Repository llmariner/rbac-manager, pull requests merged in 2024-11, with the labels that each got.

#119 feat(chart): productionize helm chart
  .github/workflows/ci-pre-merge.yml
  Makefile
  deployments/dex-server/.helmignore
  deployments/dex-server/Chart.yaml
  deployments/dex-server/README.md
  deployments/dex-server/templates/configmap.yaml
  deployments/dex-server/templates/deployment.yaml
  deployments/dex-server/values.schema.json
  deployments/dex-server/values.yaml
  deployments/rbac-server/.helmignore
  deployments/rbac-server/Chart.yaml
  deployments/rbac-server/README.md
  deployments/rbac-server/templates/deployment.yaml
  deployments/rbac-server/values.schema.json
  deployments/rbac-server/values.yaml
  hack/update-chart-version.sh
Labels: enhancement

#121 chore: use yaml.v3 package
  database-creator/cmd/config.go
  go.mod
  go.sum
Labels: skip-changelog

#122 ci(pr-labeler): change trigger to pull_request_target
  .github/workflows/pr-labeler.yml
Labels: skip-changelog

#123 chore(chart): update example values for staticPasswords
  deployments/dex-server/values.schema.json
  deployments/dex-server/values.yaml
Labels: skip-changelog

#125 ci(make): fix git-clean-check to validate the preceding target results
  common.mk
Labels: skip-changelog

#126 feat(rbac): add the "sefluser" api resource
  deployments/rbac-server/values.schema.json
  deployments/rbac-server/values.yaml
Labels: enhancement

#128 feat(chart): add an enable option for the dependency condition
  deployments/dex-server/templates/_helpers.tpl
  deployments/dex-server/values.schema.json
  deployments/dex-server/values.yaml
  deployments/rbac-server/templates/_helpers.tpl
  deployments/rbac-server/values.schema.json
  deployments/rbac-server/values.yaml
Labels: enhancement

#129 fix(chart): unset the default value of `enable`
  deployments/dex-server/values.schema.json
  deployments/dex-server/values.yaml
  deployments/rbac-server/values.schema.json
  deployments/rbac-server/values.yaml
Labels: bug

#130 ci(release): add bump option
  .github/workflows/manual-release-pr.yaml
Labels: skip-changelog

#132 feat(mod): bump up llmariner modules
  go.mod
  go.sum
Labels: enhancement
