Repository llmariner/rbac-manager, pull requests merged in 2025-02, with the labels that each got.

#142 chore: fix lint error
  pkg/auth/worker_interceptor.go
Labels: skip-changelog

#144 feat: add cluster name to the response of AuthorizeWorker
  api/v1/rbac_manager_service.pb.go
  api/v1/rbac_manager_service.proto
  api/v1/rbac_manager_service.swagger.json
  buf.lock
  dist/api/v1/rbac_manager_service.pb.d.ts
  pkg/auth/clusterinfo.go
  server/internal/server/authorization_worker.go
  ts/api/v1/rbac_manager_service.pb.ts
Labels: enhancement

#145 chore: fix lint error
  pkg/auth/interceptor.go
Labels: skip-changelog

#143 feat(server): add tenantSystem role
  deployments/rbac-server/values.schema.json
  deployments/rbac-server/values.yaml
  go.mod
  go.sum
  server/internal/server/authorization.go
Labels: enhancement

#147 feat(pkg/auth): add ValidateClusterRegistrationKey
  pkg/auth/worker_client.go
  pkg/auth/worker_client_test.go
Labels: enhancement

#149 fix: allow a default registration key in ValidateClusterRegistrationKey
  pkg/auth/worker_client.go
  pkg/auth/worker_client_test.go
Labels: bug

#151 feat: add an alert on cache sync delay
  deployments/rbac-server/templates/deployment.yaml
  deployments/rbac-server/templates/prometheusrule.yaml
  deployments/rbac-server/templates/service.yaml
  deployments/rbac-server/templates/servicemonitor.yaml
  deployments/rbac-server/values.schema.json
  deployments/rbac-server/values.yaml
  go.mod
  go.sum
  server/cmd/run.go
  server/internal/cache/cache.go
  server/internal/config/config.go
  server/internal/monitoring/monitoring.go
Labels: enhancement

#153 chore: remove hack/cmd
  hack/cmd/README.md
  hack/cmd/go.mod
  hack/cmd/go.sum
  hack/cmd/main.go
Labels: skip-changelog

#154 fix: set monitoringPort in the configmap
  deployments/rbac-server/templates/configmap.yaml
Labels: bug
