Repository llmariner/rbac-manager, pull requests merged in 2025-03, with the labels that each got.

#157 chore(ci): add a manual workflow for building docker images
  .github/workflows/manual-build-and-push-image.yml
Labels: skip-changelog

#158 feat(rbac-server): authorize via okta directly
  deployments/rbac-server/templates/configmap.yaml
  deployments/rbac-server/values.schema.json
  deployments/rbac-server/values.yaml
  go.mod
  go.sum
  server/cmd/run.go
  server/internal/config/config.go
  server/internal/dex/client.go
  server/internal/okta/client.go
  server/internal/server/authorization_test.go
  server/internal/server/server.go
  server/internal/token/token.go
Labels: enhancement

#160 chore: remove a debug log from okta/client.go
  server/internal/okta/client.go
Labels: skip-changelog

#161 chore: add a test to okta/client.go
  server/internal/okta/client.go
  server/internal/okta/client_test.go
Labels: skip-changelog

#162 fix: do not remove the Bearer prefix
  server/internal/okta/client.go
Labels: bug

#163 feat: consolidate jwt validation
  deployments/rbac-server/templates/configmap.yaml
  deployments/rbac-server/values.schema.json
  deployments/rbac-server/values.yaml
  server/cmd/run.go
  server/internal/config/config.go
  server/internal/dex/client.go
  server/internal/token/validator.go
  server/internal/token/validator_test.go
Labels: enhancement

#164 chore: remove dexServerAddr from config
  deployments/rbac-server/templates/configmap.yaml
  deployments/rbac-server/values.schema.json
  deployments/rbac-server/values.yaml
  server/internal/config/config.go
Labels: skip-changelog

#170 chore: return an auth error on invalid JWT
  deployments/rbac-server/values.schema.json
  server/internal/token/validator.go
Labels: skip-changelog

#172 fix : log message on validation
  server/internal/token/validator.go
Labels: bug
